<!DOCTYPE html>
<html>
<head>
 <title>My App</title>
 <div>

    <div>
   
     <a href="#">
   
        <img src='static/img/logo.png' />
   
     </a>
   
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

   </div>
</head>
<body>

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    
    <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">

      <li class="nav-item">
       <a class="nav-link" href="/" style="text-decoration:none; color:inherit;">Загрузить лекцию</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="/search" style="text-decoration:none; color:inherit;">Поиск таймкода термина</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="/list" style="text-decoration:none; color:inherit;">Ваши лекции</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#" style="text-decoration:none; color:inherit;">Настройки</a>
      </li>
     </ul>
    </div>
   </nav>

   <form method="POST" action="{{ url_for('search') }}">
    <label for="Поиск термина">Search Term:</label>
    <input type="text" id="search_term" name="search_term">
    <button type="submit">Search</button>
  </form>

  {% if results %}
    <h2>Results:</h2>
    <ul>
      {% for result in results %}
        <li>{{ result }}</li>
      {% endfor %}
    </ul>
  {% endif %}

</body>
</html>